h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.center_container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid seagreen;
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}